* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #242430;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

main img {
    flex: 1;
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
    display: block;
}

#button {
    margin-top: auto;
    align-self: center;
    transition-duration: 0.2s;
}

#button:hover {
    transform: scale(0.9);
}

#button svg {
    width: 150px;
}
