* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

main {
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #242430;
    overflow: hidden;
}

img {
    max-height: 80%;
    max-width: 100%;
    border: 5px solid black;
    border-radius: 10px;
    background-color: #EEE;
}

#button {
    width: 90px;
    transition-duration: 0.25s;
    border-radius: 10px;
}

#button:hover {
    transform: scale(0.9);
}
